<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hey world</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  Hello World!
  <div id="app"></div>
  <script src="app.js"></script>
</body>
</html>